<form class="form" (ngSubmit)="onSubmit()">
    <div>
        <div class="container input-label">
            <label>First Name: <span>*</span></label>
        </div>
        <div class="container input-field">
            <input type="text" name="first_name" [(ngModel)]="first_name" placeholder="First Name...">
        </div>
    </div>
    <div>
        <div class="container input-label">
            <label>Last Name: <span>*</span></label>
        </div>
        <div class="container input-field">
            <input type="text" name="last_name" [(ngModel)]="last_name" placeholder="Last Name...">
        </div>
    </div>
    <div>
        <div class="container input-label">
            <label>Email: <span>*</span></label>
        </div>
        <div class="container input-field">
            <input type="text" name="email" [(ngModel)]="email" placeholder="suzan@example.com">
        </div>
    </div>
    <div>
        <div class="container input-label">
            <label>Job Title: <span>*</span></label>
        </div>
        <div class="container input-field">
            <input type="text" name="job_title" [(ngModel)]="job_title" placeholder="Job Title">
        </div>
    </div>
    <div>
        <div class="container input-label">
            <label>City: <span>*</span></label>
        </div>
        <div class="container input-field">
            <input type="text" name="city" [(ngModel)]="city" placeholder="City">
        </div>
    </div>
    <div>
        <div class="container input-label">
            <label>Country: <span>*</span></label>
        </div>
        <div class="container input-field">
            <input type="text" name="country" [(ngModel)]="country" placeholder="Country">
        </div>
    </div>
    <div class="container submit">
        <input type="submit" value="ADD" class="btn">
    </div>
</form>
