<h1>Contact Details</h1>
<div *ngIf="dataLoaded" class="container">
    <div class="content"><p>Full Name: </p><h2 class="convertBlockToInline">{{ singleContact.first_name }} {{ singleContact.last_name }}</h2></div>
    <div class="content"><p>Email: </p><h2 class="convertBlockToInline">{{ singleContact.email }}</h2></div>
    <div class="content"><p>Job Title: </p><h2 class="convertBlockToInline">{{ singleContact.job_title }}</h2></div>
    <div class="content"><p>City: </p><h2 class="convertBlockToInline">{{ singleContact.city }}</h2></div>
    <div class="content"><p>Country: </p><h2 class="convertBlockToInline">{{ singleContact.country }}</h2></div>
    
</div>

