*{
    margin: 0px;
    padding:0px;
}

div.container {
    text-align: center;
    padding-top: 20px;
}

div.content {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    border: 2px solid #cc6363;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

